{% extends "simpleAbout.njk" %}

{% block titleText %}

<section class="site-about-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-about-wrapper">
          <div class="site-about-company">
            <h1>
              {{ title }}
            </h1>
          </div>
          <div class="site-about-description">
            <p>
              {{ description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    
{% endblock %}

{% block Expertise %}

<section class="site-expertise">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="section-title">
          <h2> {{ xpert }} </h2>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="site-expertise-list">
        {% for item in names %}
            <li> {{ item }} </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block Clients %}

<section class="site-client">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2> {{ banner }} </h2>
        </div>
        <div class="site-client-wrapper">
        {% for item in images %}
            <div class="site-client-item">
                <img
                src= "{{ item }}"
                alt= "null"
                />
            </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
    
{% endblock %}

{% block Team %}

<section class="site-team">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>team that makes the difference.</h2>
        </div>
      </div>

        {% for team in collections.teams %}

        <div class="col-lg-4">
            <div class="site-team-member">
            <div class="site-team-member-image">
                <img
                src= "{{ team.data.img }}"
                alt= "{{ team.data.name }}"
                />
            </div>
            <div class="site-team-member-content">
                <h3> {{ team.data.name }} </h3>
                <p> {{ team.data.dig }} </p>
                <ul class="site-team-member-social">
                <li>
                    <a href="#"><i class="fa fa-medium"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
                </ul>
            </div>
            </div>
        </div>
            
        {% endfor %}
    
    </div>
  </div>
</section>
    
{% endblock %}