{% extends "base.njk" %}

{% block process %}

<section class="site-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h1 class="site-contact-title">
          {{ topTitle1 }} <span> {{ topTitle2 }} </span>
        </h1>
      </div>
      <div class="col-lg-6 ml-auto">
        <div class="site-contact-form">
          <h4> {{ projectTitle }} </h4>
          <form action="#">
            <div class="row">
              <div class="col-lg-6">
                <input
                  type="text"
                  class="form-control"
                  name="first-name"
                  id="first-name"
                  placeholder="First Name"
                />
              </div>
              <div class="col-lg-6">
                <input
                  type="text"
                  class="form-control"
                  name="last-name"
                  id="last-name"
                  placeholder="Last Name"
                />
              </div>
              <div class="col-lg-6">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Email"
                />
              </div>
              <div class="col-lg-6">
                <div class="select-wrapper">
                  <select class="form-control" id="projectType">
                    <option value="" selected disabled hidden>
                      {{ projectType }}
                    </option>
                    {% for projects in projects %}
                        <option value="gd"> {{ projects }} </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-12">
                <textarea
                  class="form-control"
                  id="aboutProject"
                  rows="6"
                  placeholder="About the Project"
                ></textarea>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary">
                  <span class="btn-area">
                    <span data-text="{{ buttonText }}"> {{ buttonText }} </span>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
    
{% endblock %}

{% block workTogether %}{% endblock %}