{% extends "base.njk" %}

{% block process %}

<section class="site-project-single-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="site-project-single">
          <h1> {{ titleTextHeader }} </h1>
          <div class="site-project-single-description">
            <p>
              {{ titleTextOne }}
            </p>
            <p>
              {{ titleTextTwo }}
              <br /><br />
              {{ titleTextThree }}
              <br /><br />
              {{ titleTextFour }}
              <br /><br />
              {{ titleTextFive }}
              <br /><br />
              {{ titleTextSix }}
              <br /><br />
              {{ titleTextSeven }}
            </p>
            <p>
              {{ titleTextEight }}
            </p>
            <p>
              {{ titleTextNine }}
            </p>
          </div>
          <div class="site-project-single-image">

            {% for Img in projectDetailsImg %}

            <img
              src="{{ Img }}"
              alt="null"
            />

            {% endfor %}

          </div>
          <div class="site-project-single-action">
            <a href="/project-single">
              <span class="link-area">
                <span data-text="{{ nextProjectText }}"> {{ nextProjectText }} </span>
              </span>
              <img src="{{ nextProjectArrow }}" alt="next project" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    
{% endblock %}