{% extends "base.njk" %}

{% block content %}
    <section class="site-about-header">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="site-about-wrapper">
              <div class="site-about-company">
                {{content | safe}}
              </div>
              <div class="site-about-description">
                <p>
                  {{des}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-expertise">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="section-title">
              <h2>{{expertise.title}}</h2>
            </div>
          </div>
          <div class="col-md-6">
            <ul class="site-expertise-list">
              {% for expertIn in expertise.expertIn %}
              <li>{{expertIn}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="site-client">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2>{{clients.title}}</h2>
            </div>
            <div class="site-client-wrapper">
              {% for trustedClient in clients.trustedClients %}
              <div class="site-client-item">
                <img src="{{trustedClient}}" alt="client-logo">
              </div> 
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-team">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2>
                {{team.title}}
              </h2>
            </div>
          </div>
          {% for teamMember in team.teamMembers %}
          <div class="col-lg-4 col-md-6">
            <div class="site-team-member">
              <div class="site-team-member-image">
                <img src="{{teamMember.img}}" alt="team-member">
              </div>
              <div class="site-team-member-content">
                <h3>{{teamMember.name}}</h3>
                <p>{{teamMember.dig}}</p>
                <ul class="site-team-member-social">
                  {% for social in teamMember.social %}
                  <li>
                    <a href="/{{social.link}}">
                      <i class="fa fa-{{social.icon}}"></i>
                    </a>
                  </li> 
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div> 
          {% endfor %}
        </div>
      </div>
    </section>
{% endblock %}